# Build artifacts
/build/
/*.elf
/*.bin
/*.map

# Configuration
/sdkconfig
/sdkconfig.old

# Python/ESP-IDF metadata
/.vscode/
*.pyc
__pycache__/

# ESP-IDF CMake cache
CMakeLists.txt.user
CMakeFiles
CMakeScripts
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
CMakeUserPresets.json
*.cmake
cmake-build-*/

# Core dumps
core

# macOS-specific
.DS_Store
